<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" 
 matSort (matSortChange)="announceSortChange($event)">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Risk_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Risk_id </th>
      <td mat-cell *matCellDef="let element"> {{element.Risk_id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Risk_Category">
      <th mat-header-cell *matHeaderCellDef> Risk_Category </th>
      <td mat-cell *matCellDef="let element"> {{element.Risk_Category}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Hazards">
      
      <th mat-header-cell *matHeaderCellDef cdkDrag >  <mat-icon inline >drag_indicator</mat-icon> Hazards  </th>
      <td mat-cell *matCellDef="let element"> {{element.Hazards}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Risks">
      <th mat-header-cell *matHeaderCellDef> Risks </th>
      <td mat-cell *matCellDef="let element"> {{element.Risks}} </td>
    </ng-container>

    <ng-container matColumnDef="Mitigation_Status">
        <th mat-header-cell *matHeaderCellDef> Mitigation_Status </th>
        <td mat-cell *matCellDef="let element"> {{element.Mitigation_Status}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Pre_mitigation_score" >
        <th mat-header-cell *matHeaderCellDef cdkDrag > Pre_mitigation_score </th>
        <td mat-cell *matCellDef="let element" cdkDrag> {{element.Pre_mitigation_score}} </td>
      </ng-container>

      <ng-container matColumnDef="Post_mitigation_score">
        <th mat-header-cell *matHeaderCellDef> Post_mitigation_score </th>
        <td mat-cell *matCellDef="let element"> {{element.Post_mitigation_score}} </td>
      </ng-container>

      <ng-container matColumnDef="Barriers">
        <th mat-header-cell *matHeaderCellDef> Barriers </th>
        <td mat-cell *matCellDef="let element"> {{element.Barriers}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
