<div class="container">
<h2 mat-dialog-title class="custom-title"> Create Risk </h2>
<div mat-dialog-content class="center-content">
<form [formGroup]="createRiskForm" (ngSubmit)="createRisk()">
    
    <mat-form-field appearance="outline" color="accent" class="custom-form-field">
        <mat-label>Risk Category</mat-label>
        <input matInput type="text" formControlName="risk_category" placeholder="Enter the Risk Category" required>
    </mat-form-field>
   
    <br/>
 
    <mat-form-field appearance="outline" color="accent" class="custom-form-field">
        <mat-label>Hazards</mat-label>
        <textarea matInput formControlName = "hazards" placeholder="Enter the Hazards" required></textarea>
    </mat-form-field>
 
    <br/>
 
    <mat-form-field appearance="outline" color="accent" class="custom-form-field">
        <mat-label>Risks</mat-label>
        <textarea matInput formControlName = "risks" placeholder="Enter the Risks" required></textarea>
    </mat-form-field>
 
    <br/>
 
    <mat-form-field class="custom-form-field">
        <mat-label>Mitigation Status</mat-label>
 
        <mat-select formControlName = "mitigation_status" (change) = "changeEvent($event)">
            <mat-option *ngFor="let mitigation_status of mitigation_status" [value]="mitigation_status.value">
                {{mitigation_status.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
 
 
    <br/>

    <mat-form-field class="custom-form-field"> 
        <mat-label>Pre-Mitigation Risk Score</mat-label>
        <mat-select formControlName = "pre_mitigation_risk_score" (change) = "changeEvent($event)">
            <mat-option *ngFor="let mitigation_risk_score of mitigation_risk_scores" [value]="mitigation_risk_score.value">
                {{mitigation_risk_score.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
   
    <br/>

    <mat-form-field class="custom-form-field"> 
        <mat-label>Post-Mitigation Risk Score</mat-label>
        <mat-select formControlName = "post_mitigation_risk_score" (change) = "changeEvent($event)">
            <mat-option *ngFor="let mitigation_risk_score of mitigation_risk_scores" [value]="mitigation_risk_score.value">
                {{mitigation_risk_score.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
   
    <br/>
 
    <mat-form-field appearance="outline" color="accent" class="custom-form-field">
        <mat-label>Barriers</mat-label>
        <textarea matInput formControlName = "barriers" placeholder="Enter the Barriers" required></textarea>
    </mat-form-field>
 
    <br/>

    
 
    <div mat-dialog-actions class="custom-dialog">
   
        <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
        <button mat-raised-button color="primary" (click)="submitForm()">Create</button>
    </div>
   
   
</form>
</div>
 
</div>